body{
	font-family :"Georgia","Arial", sans-serif;
}

.navbar{min-height:38px;margin-bottom:20px !important; border-radius:0;}
.navbar .navbar-brand{padding: 0 12px;font-size:16px;line-height:30px;height:30px;}
.navbar .navbar-nav > li > a{ padding-top:0px;padding-bottom:0px;line-height:30px; color:#fff;}
.navbar .navbar-toggle { margin-top:3px;margin-bottom:0px;padding:8px 9px;}
.navbar .navbar-form {margin-top:2px; margin-bottom: 0px}
.navbar .navbar-collapse {border-color: #A40303;}

h1, h2{
	border-left:5px #666 solid;
	border-bottom: 1px #666 solid;
	padding: 0 0 5px 10px;
	margin-bottom:30px;
}

#gallery img{
	width:100%;
} 

.col-md-3{
	padding:0;
}

footer{
	margin-top:30px;
	height:40px;
	background:#333;
	color:#fff;
	text-align: center;
	padding-top:10px;
}

.photo{
	text-allign: center;
	position:relative;

}
.photo,
.photo-hover,
.photo-hover .mask,
.photo-img,
.photo-info{
	width:293px;
	height:220px;
}

.photo-img,
.photo-hover,
.photo-hover .mask{
	position:absolute;
	top:0;
	left:0;
}

.photo-type-line .photo-hover{
	z-index:100;
	-webkit-transition: all 300ms ease-out;
	-noz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	opacity:0;
	cursor:pointer;
	display:block;
	text-decoration: none;
	text-align: center;
}

.photo-type-line .photo-info{
	z-index: 10;
	color:#fff;
	display:table-cell;
	vertical-align: middle;
	position: relative;
}

.photo-type-line .photo-info .headline{
	font-size:20px;
}

.photo-type-line .photo-info .line{
	height:1px;
	width:0%;
	margin:15px auto;
    background:#fff;
    -webkit-transition: all 500ms ease-out;
    -noz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.photo-type-line .photo-hover .mask{
	background:#000;
	filter:alpha(opacity=50);
	opacity:0.5;
	z-index:0;
}

.photo-type-line .photo-hover:hover .line{
	width:40%;
}

.photo-type-line .photo-hover:hover{
	opacity:1;
	}

	.photo-img{
		background:#7a548f;
		z-index:0;
	}