  <div id="gallery">
      <h2> All Images</h2>
      <div class="row">
        <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt1.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt1.jpg"></div>
    </div>
  </div>
         <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt2.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt2.jpg"></div>
    </div>
  </div>
         <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt3.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt3.jpg"></div>
    </div>
  </div>
       <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt4.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt4.jpg"></div>
      </div>
     </div>
    </div>

     <div class="row">
        <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt5.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt5.jpg"></div>
    </div>
  </div>
         <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt6.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt6.jpg"></div>
    </div>
  </div>
         <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt7.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt7.jpg"></div>
    </div>
  </div>
       <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt8.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt8.jpg"></div>
      </div>
     </div>
    </div>

     <div class="row">
        <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt9.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt9.jpg"></div>
    </div>
  </div>
         <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt10.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt10.jpg"></div>
    </div>
  </div>
         <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt11.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt11.jpg"></div>
    </div>
  </div>
       <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt12.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt12.jpg"></div>
      </div>
     </div>
    </div>

     <div class="row">
        <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt13.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt13.jpg"></div>
    </div>
  </div>
         <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt14.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt14.jpg"></div>
    </div>
  </div>
         <div class="col-md-3">
         <div class="photo photo-type-line">
         <a href="img/bt15.jpg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt15.jpg"></div>
    </div>
  </div>
       <div class="col-md-3">
         <div class="photo photo-type-line" data-lightbox="my-images" data-title="Lorem Ipsum">
         <a href="img/bt16.jpg" class="photo-hover">
         <div class="photo-info">
         <div class="headline">Lorem Ipsum</div>
         <div class="line"></div>
         <div class="desc">Lorem dolor sit amet, consecterur adipiscing elit. sed faucibus faucibus ni ut lobortis</div>
        </div>
        <div class="mask"></div>
      </a>
      <div class="photo-img"><img src="img/bt16.jpg"></div>
      </div>
     </div>
    </div>
   </div>