<h2>Upload Image</h2>

<%= form_for @image, :html =>{:multipart => true} do |f| %>
	<!-- check for errors -->
	<% if @image.errors.any? %>
	<% @image.errors.full_messages.each do |msg| %>
	<!-- show errors -->
	<div class="alert alert-danger"><%= msg %></div>
	<% end %>
<% end %>

<div class="form-group">
	<%= f.label :image_title %>
	<%= f.text_field :image_title ,class:'form -control' %>
</div>

<div class="form-group">
	<%= f.label :category %>
	<%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]},{:include_blank => 'Select One'}, class:'form-control' %>
</div>

<div class="form-group">
	<%= f.label :image_description %>
	<%= f.text_area :image_description ,class:'form -control' %>
</div>

<div class="form-group">
	<%= f.label :image %>
	<%= f.file_field :image %>
</div>


<br>

<%= f.submit "Submit", class:'btn btn-primary' %>
<%=link_to "Cancel", images_path, class:'btn btn-default' %>
<% end %>